#banner{
min-height: 90vh;
}
#footer{

    border-top: 2px solid black;
}
.btn-color{
    background-color: #50a09b;
    color: #f8f8f8;
}
.btn-color:hover{
    background-color: #C4DFDF;
}
.text{
    color: #f8f8f8 !important;
}
.text:hover{
    color: #f8f8f8;
}
.hv:hover{
    color: #f8f8f8;
}
