*{
    font-family: "Lato", sans-serif;
}
.navbar{
    background-color: #96E9C6 !important;
}
.navbar *{
    color: #176B87;
}
#user-avatar{
    border: 2px solid #176B87;
    border-radius: 50%;
    width: 35px;
}